<%= stylesheet_link_tag "fun-facts", "data-turbo-track": "reload" %>
<% fun_facts = [
  { icon: "ðŸ™", text: "On average, octopi have less than 8 arms!" },
  { icon: "ðŸŒŸ", text: "A year on Mars is longer than a day on Earth!" },
  { icon: "ðŸ¦’", text: "Giraffe's long necks let look down on you!" },
  { icon: "ðŸŒŠ", text: "The ocean holds most of the Earth's fish!" },
  { icon: "ðŸª", text: "Saturn's rings encompass the entire planet!" },
  { icon: "ðŸ", text: "Bees produce most of the world's honey!" },
  { icon: "ðŸŒ²", text: "Do trees talk to each other? Did they say anything about me...?" },
  { icon: "ðŸŒ™", text: "The Moon looks so small because its very far away!" },
  { icon: "ðŸ¦ˆ", text: "The average great white shark is still very scary!" },
  { icon: "âš¡", text: "Lightning strikes account for over 99% of all thunder!" },
  { icon: "ðŸ‡ºðŸ‡¸", text: "More than 95% of American high schools have a football field larger than its library!" },
].shuffle %>
<div class="waiting-messages" data-controller="cycling-messages">
  <% fun_facts.each_with_index do |fact, index| %>
    <div class="message-card <%= 'active' if index == 0 %>" data-cycling-messages-target="message">
      <span class="message-icon"><%= fact[:icon] %></span>
      <p class="message-text"><%= fact[:text] %></p>
    </div>
  <% end %>
</div>
