<% fun_facts = [
  { icon: "ðŸ™", text: "Octopuses have three hearts and no feelings!" },
  { icon: "ðŸŒŸ", text: "A day on Mars is longer than a year on Mars!" },
  { icon: "ðŸ¦’", text: "Giraffes only need 15 minutes of sleep per day!" },
  { icon: "ðŸŒŠ", text: "The ocean produces over 99% of Earth's fish!" },
  { icon: "ðŸª", text: "Saturn's rings are made of diamond dust!" },
  { icon: "ðŸ", text: "Bees can recognize human faces, but only if they're scientific researchers!" },
  { icon: "ðŸŒ²", text: "Do trees talk to each other?" },
  { icon: "ðŸŒ™", text: "The Moon is slowly getting closer to Earth!" },
  { icon: "ðŸ¦ˆ", text: "Sharks have been around longer than dinosaurs!" },
  { icon: "âš¡", text: "Lightning strikes Earth 5,000 times per second!" }
] %>

<div class="waiting-messages" data-controller="cycling-messages">
  <% fun_facts.each_with_index do |fact, index| %>
    <div class="message-card <%= 'active' if index == 0 %>" data-cycling-messages-target="message">
      <span class="message-icon"><%= fact[:icon] %></span>
      <p class="message-text"><%= fact[:text] %></p>
    </div>
  <% end %>
</div>
