<%# app/views/stories/new.html.erb %>
<div class="max-w-[1400px] w-full flex flex-col flex-1 p-8 md:p-4 m-auto">
  <h1 class="text-3xl font-bold text-ink m-0 mb-8">Create New Story</h1>
  <%= render "form", story: @story %>
</div>
