<div>
  <h1>Collaborative Fill-in-the-Blank Stories</h1>
  <p>Click "Start" to get started.</p>
  <%= form_with url: "/rooms/create", method: :post do |form| %>
    <%= form.submit "Start" %>
  <% end %>
</div>